.fade {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.3;
}

.modal {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 500px;
  height: 400px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.modal h2 {
  font-size: 2rem;
}

.modal form {
  width: 90%;
}
